<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>com.liba.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.liba.AuthenticatorInitListener</listener-class>
    </listener>

    <filter>
        <filter-name>urlLogFilter</filter-name>
        <filter-class>com.liba.UrlLogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>urlLogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>startSessionServlet</servlet-name>
        <servlet-class>com.liba.StartSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startSessionServlet</servlet-name>
        <url-pattern>/start_session.action</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>endSessionServlet</servlet-name>
        <servlet-class>com.liba.EndSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>endSessionServlet</servlet-name>
        <url-pattern>/end_session.action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>postMessageServlet</servlet-name>
        <servlet-class>com.liba.PostSessionMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postMessageServlet</servlet-name>
        <url-pattern>/post_message.action</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.liba.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <servlet-name>postMessageServlet</servlet-name>
        <url-pattern>/end_session.action</url-pattern>
    </filter-mapping>

</web-app>
